<tr class="@RowCssClass">
    <td colspan="5">
        <div class="card">
            <h3 class="card-header">@JobApplication.JobTitle</h3>
            <div class="card-body">
                <h5 class="card-title">@JobApplication.CompanyName</h5>
                <p class="card-text">
                    <ul>
                        <li>
                            Application Date: @JobApplication.ApplicationDate.ToShortDateString()
                        </li>
                        <li>
                            Application Method: @JobApplication.ApplicationMethod
                        </li>
                        <li>
                            Current Status: @JobApplication.ApplicationStatus
                        </li>
                        <li>
                            Notes: <br />@JobApplication.Notes
                        </li>
                    </ul>
                </p>
                <button type="button" class="btn btn-primary" @onclick="OnHideDetails">Hide Info</button>
            </div>
        </div>
    </td>
</tr>

@code {
    [Parameter]
    public JobApplicationDTO JobApplication { get; set; }

    [Parameter]
    public EventCallback OnHideDetails { get; set; }

    [Parameter]
    public string RowCssClass { get; set; }
}
